<p><%= t('devise.mailer.reset_password_instructions.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.reset_password_instructions.request') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.confirm_message') %></p>
<p><%= t('devise.mailer.reset_password_instructions.final_message') %></p>
